<!-- form_with部分。/books宛てにPOSTメソッドを実行 -->
<%= form_with model: @book, url:"/books/#{@book.id}", local:true do |f| %>
  <div class="input">
    <label>Title</label>
    <%= f.text_field :title %>
  </div>
  <div class="input">
    <label>Body</label>
    <%= f.text_area :body %>
  </div>
  <%= f.submit 'Update Book' %>
<% end %>
<%= link_to "Show" , book_path(@book.id)  %> | <%= link_to "Back" , books_path %>